<div class="container text-center" id="print-section">
    <div *ngIf="data.isBill">
        <h1>{{ isCmd ? 'أمر التشغيل' : 'City Broast' }}</h1>
        <h3>{{ data.date }}</h3>
        <table>
            <thead>
                <tr>
                    <th>إسم الصنف</th>
                    <th>الحالة</th>
                    <th>الكمية</th>
                    <th [hidden]="isCmd">السعر</th>
                    <th [hidden]="isCmd">القيمة</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of data.bills">
                    <td>{{ b.created_at }}</td>
                    <td>{{ b.state }}</td>
                    <td>{{ b.quantity }}</td>
                    <td [hidden]="isCmd">{{ b.price }} ج</td>
                    <td [hidden]="isCmd">{{ b.value }} ج</td>
                </tr>
            </tbody>
            <tfoot [hidden]="isCmd">
                <tr>
                    <th colspan="3">المجموع</th>
                    <th colspan="2">{{ data.sum }} جنيه</th>
                </tr>
            </tfoot>
        </table>
        <h3 [hidden]="isCmd">سعدنا لزيارتكم</h3>
        <h3 [hidden]="isCmd">خدمة العملاء: 01515132148</h3>
    </div>
    <div class="row hide-print mt-4 text-center">
        <h4 class="text-center">هل تمت الطباعة بنجاح</h4>
        <div class="btns">
            <button mat-raised-button color="primary" (click)="printCmd()">
                {{ isCmd ? 'إغلاق' : 'إطبع أمر التشغيل' }}
            </button>
            <button mat-button color="accent" (click)="printAgain()">
                إطبع مرة إخرى
            </button>
        </div>
    </div>
</div>
