.container {
    text-align: center;
    width: 100%;
    height: auto;
    table {
        width: 100%;
        border: 2px solid #000;
        margin-bottom: 2rem;
        thead,
        tfoot {
            background-color: #000;
            color: #fff;
        }
        tr:nth-of-type(even) {
            background-color: #eee;
        }
        th,
        td {
            padding: 5px;
        }
    }
    .mt-4 {
        margin-top: 4rem;
        text-align: center;
        display: block;
        h4,
        .btns {
            display: block;
        }
    }
}

@media print {
    .mt-4 {
        display: none !important;
    }
}
