/* You can add global styles to this file, and also import other style files */

@import 'assets/css/roboto.scss';
@import 'assets/css/cairo.scss';
@import 'assets/css/materialIcons.scss';
@import 'bootstrap';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Cairo', 'Roboto', 'Helvetica Neue', Roboto, sans-serif !important;
}
.loader {
    z-index: 999;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: .5rem !important;
}
.fillRemaning {
    flex: 1 1 auto;
}
