<mat-toolbar color="primary">
    <span>Application Title</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>Right Aligned Text</span>
</mat-toolbar>
<div class="row">
    <mat-nav-list class="inline types col-3 pt-0 pr-0 pl-0">
        <a
            mat-list-item
            *ngFor="let i of data; let inx = index"
            (click)="openBrand(i, inx)"
            [class]="active === inx ? 'bg-primary' : ''"
        >
            <span class="label">{{ i.name }}</span>
            <mat-icon class="icon">keyboard_arrow_left</mat-icon>
        </a>
    </mat-nav-list>
    <mat-list class="inline brands col-3 pt-0 pr-0 pl-0">
        <a mat-list-item class="bg-primary" *ngFor="let i of brandData">
            {{ i.name }}
            <mat-button-toggle-group #heat="matButtonToggleGroup" (click)="setHeat(heat.value)" class="heatBtn">
                <mat-button-toggle class='bg-danger text-light' value="hot" aria-label="ساخن">
                    <mat-icon>flash_on</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle class='bg-success text-light' value="cold" aria-label="بارد">
                    <mat-icon>ac_unit</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </a>
    </mat-list>
    <div class="col-6">
        <div class="row">
            <div class="col-10">
                <mat-form-field class="dateShow">
                    <input
                        matInput
                        [matDatepicker]="picker"
                        [(ngModel)]="date"
                    />
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<button mat-button color="primary" (click)="log()">Click me!</button>
